

/*CARTE DE FRANCE*/
a .region:hover {
    fill-opacity: 0.5;
}


/*SLICK FLECHES*/
.slick-prev:before,
.slick-next:before {
    color:$brand-primary !important;
}

.main-container{
    -moz-box-shadow: 0px 0px 10px 0px #ccc;
    -webkit-box-shadow: 0px 0px 10px 0px #ccc;
    -o-box-shadow: 0px 0px 10px 0px #ccc;
    box-shadow: 0px 0px 10px 0px #ccc;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#ccc, Direction=NaN, Strength=10);
    border-radius: 10px;
    z-index: 1000;
    position: relative;
    background: #fff;
}
.path-frontpage .main-container{
    margin-top: -80px;
}

/*Titers des block de la homepage*/
.block-arb-regions,
.block-views-blockeditorial-pages-arb-infos,
.block-views-blockeditorial-pages-pf-infos,
.block-views-blockregion-news-front-block,
.block-views-blockregions-resources-front-block{
    h2{
    font-size: 28px;
    font-weight: 700;
        &:after{
            @include border-subtitle;
            padding-top: 5px;
        }
        a{
            text-decoration: none;
        }
        a:hover{
            color:$brand-secondary;
        }
    }
}
