.pre-footer{
    background: url('../images/topography.png');
    padding-top: 80px;
    margin-top: -80px;
    .prefooter{
        padding-top: 40px;
    }
}


.footer {
    margin-top: 0;
    padding-top: 35px;
    padding-bottom: 36px;
    border-top: none;
    background: $brand-primary;
    .menu--footer li{
        display: inline-block;
    }
    .menu--footer a{
       color: $brand-secondary;
        &:focus,
        &:hover{
            color: white;
            background-color: transparent;
        }
    }
    #block-socialmedialinks-2{
        float: right;
        a{
            color: $brand-secondary;
            &:hover{
                color: white;
            }
        }
    }
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
    #block-views-block-slides-frontpage-slideshow .slide-infos h2{
        font-size: 14px;
        line-height: initial;
    }
    #block-views-block-slides-frontpage-slideshow .slide-infos .field--name-field-text{
        display: none;
    }
    #block-views-block-slides-frontpage-slideshow .slide-infos .field--name-field-link a{
        font-size: 10px;
    }
    #block-views-block-slides-frontpage-slideshow .slide-infos h2:after{
        margin-top: 10px;
    }
    #block-views-block-slides-frontpage-slideshow .slick-prev{
        left: 10%;
    }
    #block-views-block-slides-frontpage-slideshow .slick-next{
        right: 10%;
    }
    #block-views-block-slides-frontpage-slideshow .slide-infos{
        top: 27%;
        width: 27%;
    }
    #block-regionsmapblock .club-arb-link-wrapper {
        float: right;
        margin-top: 5px;
        width: 100%;
        margin-bottom: 10px;
    }
    .block-arb-register .arb-register-text:before{
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .block-arb-register {
        font-size: 20px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .header a.navbar-brand{
        font-size: 15px;
    }
    .header p.navbar-text{
        font-size: 11px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}