/*HEADER*/
.header{
    background: $brand-primary;
    color: white;
    a{
        color: white;
    }
}

/*BLOCK SEARCH*/
.search-button{
    cursor: pointer;
}
.search-block-form{
    position: absolute;
    padding: 50px;
    width: 100%;
    z-index: 1000;
    background-color: #e9e9e9;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    .wrapper{
      width: 45%;
      margin: 0 auto;
    }
    .form-type-search{
        width: 80%;
        float: left;
    }
    #searchformclose{
      float: right;
      .glyphicon-remove{
        color: $brand-primary;
        font-size: 20px;
      }
    }
}

/*SLIDESHOW*/
#block-views-block-slides-frontpage-slideshow{
    position: relative;
    /* facultatif : résoud un bug non systématique de blur sur IE */
    transform-style: preserve-3d;
    .slide-infos{
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -35%); /* compatibilité : ie9+ */
    }
}